* {
    margin: 0;
    padding: 0;
    border-style: none;
}

a:link, a:visited, a:active  {
    text-decoration: none;
    color: #fff;
} 

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.text{
    font-size: 2rem;
    justify-content: center;
    font-family: sans-serif;
    color: #000
}



.container {
    background: #F4F2E7;
    height: 100vh;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    color: #35293f;
}



header {
    height: 10%;
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: sans-serif;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}



#form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C0C0C0;
    margin: auto;
}

#form button, #form .button {
    background: 	#808080;
    color:#fff;
    text-align: center;
    cursor: pointer;
    font-size: 2.4rem;
    border-radius: 1.5rem;
    padding: 2rem 4rem;
}

#form button:hover, #form .button:hover {
    background: #000;
    color:#fff;
}

#form input {
    text-align: center;
}



#form-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto 6rem;
}

#form-index button{
    margin: 0 10rem;
}

.nome{
    justify-content: center;
}


#form .cadastro-cliente {
    font-size: 1.8rem;
    margin: auto 2rem;
}

#form #form-cliente {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form #form-cliente input {
        width: 40rem;
        height: 3rem;
        border-radius: 1rem;
        outline: none;
        margin: 1rem;
}

#form #form-cliente label {
    margin: 1rem;
}

#form #form-cliente button {
    width: 30rem;
    height: 6rem;
    font-size: 2.4rem;
}


#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form .carrinho {
    margin-top: 2rem;
}
#form .cadastro-produto {
    font-size: 1.8rem;
    margin: auto 2rem;
}

#form #form-produto {
    margin-top: 1rem;
}

#form #form-produto input {
        width: 40rem;
        height: 3rem;
        border-radius: 1rem;
        outline: none;
        margin: 1rem;
}

#form #form-produto label {
    margin: 1rem;
}

#form #form-produto .buttons {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#form #form-produto .button {
    width: 25rem;
    height: 6rem;
    font-size: 2.4rem;
}

#form #form-produto .button#btn-meio {
    margin: 0rem;
}

